<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Proyectos Musicales</title>
    <link rel="stylesheet" href="/css/music.deadf.css">
</head>
<body>
    <div class="container">
        <h1>Mis Lanzamientos</h1>

        <div class="album-item">
            <div class="album-cover">
                <a href="pagina_proyecto_1.html">
                    <img src="/images/atra.jpg" alt="Portada Aleatorio Tiempo Ruleta Argentina">
                </a>
            </div>
            <div class="album-info">
                <p><strong>Nombre del Proyecto:</strong> Aleatorio Tiempo Ruleta Argentina</p>
                <p><strong>Artistas partícipes:</strong> ADF, el Piojo</p>
                <p><strong>Año:</strong> 2023</p>
                <div class="tracklist">
                    <p><strong>Lista de Temas:</strong></p>
                    <ul>
                        <li>El Jinete</li>
                        <li>Perdido en el Tiempo</li>
                        <li>En3</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="album-item">
            <div class="album-cover">
                <a href="pagina_proyecto_2.html">
                    <img src="/images/empiojado.jpg" alt="Portada Empiojado">
                </a>
            </div>
            <div class="album-info">
                <p><strong>Nombre del Proyecto:</strong> Empiojado</p>
                <p><strong>Artistas partícipes:</strong> ADF, el Piojo, Joe Ablop</p>
                <p><strong>Año:</strong> 2024</p>
                <div class="tracklist">
                    <p><strong>Lista de Temas:</strong></p>
                    <ul>
                        <li>Empiojado</li>
                        </ul>
                </div>
            </div>
        </div>

        </div>
</body>
</html>