<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADF - Mis Esencias</title>
    <link rel="stylesheet" href="/css/music.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>
                <h1>
                    <span class="letra-a-contenedor tooltip-host" data-tooltip="Alejandro">
                        <span class="char-display letra-3d" data-letter="A">A</span>
                    </span>
                    <span class="letra-d-contenedor tooltip-host" data-tooltip="D.">
                        <span class="char-display letra-3d" data-letter="D">D</span>
                    </span>
                    <span class="letra-f-contenedor tooltip-host" data-tooltip="Fenos">
                        <span class="char-display letra-3d" data-letter="F">F</span>
                    </span>
                </h1>
            </h1>
        </header>
        
        <main>
            <div class="buttons-container">
                <a href="/music/musicdeadf" class="music-button music-de-ale">
                    <span class="button-text">Música De Ale</span>
                </a>
                
                <a href="/music/musicconadf" class="music-button music-con-ale">
                    <span class="button-text">Música Con Ale</span>
                </a>
            </div>
        </main>
    </div>
</body>
</html>