<%# src/views/partials/_page_top_lanzamientos.ejs %>
<div class="page-top-lanzamientos">
    <div class="back-button-container"> <a href="/music" class="back-button"> Volver a la página principal ›</a>
    </div>
    <h1>Mis Lanzamientos</h1>
</div>
